.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    color:red;
  }
  
  .back-button i {
    margin-right: 5px;
  }
  
  .back-button:hover {
    color: #ff5722;
  }
  
  
  .employer-wrapper,
  .job-wrapper,
  .application-wrapper {
    margin: 20px;
  }
  
  table {
    width: 600px;
    margin-top: 50px;
    margin-left: 200px;
    border-collapse: collapse;
    align-items: center;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td:not(:last-child) {
    border-right: 1px solid #ddd;
  }
  
  .application-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 500px;
  }
  
  .field {
    margin-bottom: 5px;
  }
  
  .employer-item {
    margin-bottom: 20px;
    padding: 10px;
    width: 500px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(83, 81, 81, 0.984);
  }
  
  .employer-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .field-label {
    margin-right: 10px;
    width: 80px;
    font-weight: bold;
    color: #000000;
  }
  
  .field-value {
    flex: 1;
    color: #495057;
  }
  
  .application-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .application-button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
  }
  
  .application-button i {
    margin-right: 5px;
  }
  
  .application-button:hover {
    background-color: #ddd;
    color: #ff5722;
  }
  
  .report-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    display: flex;
   margin-left: 450px;
  
  }
  
  .report-button i {
    color: red;
    font-size: 1.5em;
    margin-right: 0px;
  }
  .expired {
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
  
  }
  
  
  .expired-label {
    color: red;
    font-weight: bold;
  
  }