
<div class="container-fluid">
  <nav class=" mt-1 navbar navbar-expand-lg bg-primary navbar-dark danger-color rounded">
    <!-- Brand -->
    <a class="navbar-brand "
      id="logo"><B>JOB PORTAL</B></a>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <li class="nav-item">
        <a routerLink="/jobseekerdetails" style="cursor: pointer;" class="nav-link p-3"[queryParams]="{ jobSeekerId: jobseekerId}"> <i class="fa fa-briefcase"></i> My Profile</a>
      </li>

      <li class="nav-item">
        <a routerLink="/job-serach" style="cursor: pointer;" class="nav-link p-3"[queryParams]="{ jobSeekerId: jobseekerId}"> <i class="fa fa-search"></i>Search Jobs</a>
      </li>
     
      <li class="nav-item">
        <a routerLink="/signin" style="cursor: pointer;" class="nav-link p-3"> <i class="fa fa-sign-out"></i> Logout</a>
      </li>
      
      
  
    </ul>
  </nav>
</div>





<div  class="job-wrapper"  *ngIf="jobs.length > 0">
      
   
    <table>
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Applications</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.id }}</td>
          <td>{{ job.title }}</td>
          <td>{{job.description}}</td>
     <td><button (click)="getApplications(job.id)">Show Job Application</button></td>
        </tr>
      </tbody>
    </table>
  </div>

      <div *ngIf="showApplications">
<div *ngIf="jobApplications.length === 0" class="no-applications-message">
  No applied Jobs
</div>
      <div *ngIf="jobApplications.length > 0 " class="application-wrapper">
     
       
        <div *ngFor="let application of jobApplications; let i = index">
         
          <div class="application-card" *ngIf="i === currentApplicationIndex">
            

            <div class="field">ID: {{application.id}}</div>
            <div class="field">First Name: {{application.firstName}}</div>
            <div class="field">Middle Name: {{application.middleName}}</div>
            <div class="field">Last Name: {{application.lastName}}</div>
            <div class="field">Email: {{application.email}}</div>
            <div class="field">Gender: {{application.gender}}</div>
            <div class="field">Phone: {{application.phone}}</div>
            <div class="field">Cover Letter: {{application.coverLetter}}</div>
            <div class="field">Date: {{application.date}}</div>
            <div class="field">Month: {{application.month}}</div>
            <div class="field">Year: {{application.year}}</div>
            <div class="field">Street: {{application.street}}</div>
            <div class="field">City: {{application.city}}</div>
            <div class="field">State: {{application.state}}</div>
            <div class="field">Postal Code: {{application.postalCode}}</div>
            <h1 class="field">
                <ng-container *ngIf="application.selected">
                  Selected
                </ng-container>
                <ng-container *ngIf="!application.selected">
                   Not Selected
                  </ng-container>
              </h1>
              <button (click)="withdrawApplication()">Withdraw</button>


          </div>
        </div>
      </div></div>
    
  


    