<header>
    <nav>
      <ul>
        <li class="nav-auth"><a routerLink="/signin">Sign In</a></li>
        <li class="nav-auth"><a routerLink="/register">Register</a></li>
        <li class="nav-job">Dreamjob</li>
      </ul>
    </nav>
  </header>
<div class="container">
  <div class="card">
    <img src="assets\images\person image.png" alt="Card Image">
  </div>
  <div class="card3">
    <h1>Get Your Dream Job Today</h1>
    <p>You don’t have to be great to start, but you have to start to be great.</p>
    <button class="get-started" >Get Started</button>
  </div>
  <div class="card4">
    <img src="assets\images\top image.jpg" alt="Top Image">
  </div>
</div>
<div class="container1">
  <div class="card1">
    <img src="assets\images\ld image2.jpg" alt="Card Image2">
    <div class="card-content">
      <h3>Search Your DreamJob </h3>
      <p>A dream job is a pathway to personal fulfillment and professional satisfaction.
         It is that perfect blend of passion, skills, and purpose that allows individuals to wake up excited and motivated each day.</p>
    </div>
  </div>
  <div class="card2">
  <img src="assets\images\ld image3.jpg" alt="Card Image3">
    <div class="card-content">
    <h3> Join Your Team</h3>
    <p>Create your Account...
      Join Your Dreamjob...
      Achieve Your Dreams... </p>
    </div>
  </div>
  <div class="container2">
    <div class="card5">
      <img src="assets\images\login.png" alt="login Image">
    </div>
    <div class="card6">
      <img src="assets\images\job search.png" alt="login Image">
    </div>
    <div class="card7">
      <img src="assets\images\job description.png" alt="job description">
    </div>
    <div class="card8">
      <img src="assets\images\job application.png" alt="job application">
    </div>
  </div>
</div>
<div class="card-container">
  <div class="card9">
    <div class="card-image"></div>
    <div class="card-content1">
      <h3 class="card-title">JOB PORTAL</h3>
      <p class="card-text">Empowering job seekers and employers alike,</p>
      <p class="card-text">Our job portal simplifies the recruitment process </p>
      <p class="card-text">Unlock your career potential with our job portal </p>
      <p class="card-text">Find, Apply, and Secure your dream job.</p>
      <p class="card-text">Explore, Apply, and Embark on a rewarding career journey.</p>
    </div>
  </div>
</div>
<footer>
  <div class="footer-content">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </div>
</footer>
