
.sidebars {
  
    position: fixed;
    top: 0px;
      left: 5px;
      bottom: 0;
    
      padding: 20px;
  
      z-index: 100; 
      background-color: #FFFFFF;
      padding: 20px;
     
    padding: 10px;
  }
  
  
  .sidebars i {
    font-size: 20px;
    margin-right: 10px;
  }
  .section-content {
    margin-top: 10px;
  }
  
  .section-content h3 {
    font-size: 24px;
    font-weight: bold;
    color: #186FAF;
  }
  .chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 300px;
  }
  
  .chart-container {
    flex-basis: calc(20.33% - 10px);
    margin-bottom: 10px;
    height: 100px;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  .header {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    margin-left: 50px;
  }
  table {
    width: 600px;
    margin-top: 50px;
    border-collapse: collapse;
    align-items: center;
    margin-left: 500px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  td:not(:last-child) {
    border-right: 1px solid #ddd; 
  }
  button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .app-task {
     
    top: 50px;
  
    position: fixed;
   
  }
  .job-applied {
  
  position:fixed;
   margin-left: 300px;
    margin-top: 200px;
    margin-bottom: 20px;
  }
  .selected-applied {
  
    position:fixed;
   margin-left: 600px;
   margin-top:80px;
    margin-bottom: 20px;
  }
  
  
  .number-box {
    position: fixed;
    background-color: white;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
  
    left: 350px;
   margin-top: 300px;
    margin-bottom: 20px;
  }
  .number-box2 {
    position: fixed;
    background-color: white;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
  
    left: 700px;
   margin-top: 300px;
    margin-bottom: 20px;
  }
  
  .number {
    font-size: 36px;
    font-weight: bold;
  }
  .container
  {
    position:relative;
  }
  