<form (submit)="addEmployer()" class="employer-add-form">
    <div class="form-field">
      <label for="employerName">Name:</label>
      <input type="text" id="employerName" [(ngModel)]="newEmployer.name" name="name" required>
    </div>
    <div class="form-field">
      <label for="employerDescription">Description:</label>
      <textarea id="employerDescription" [(ngModel)]="newEmployer.description" name="description" required></textarea>
    </div>
    <div class="form-field">
      <label for="employerLocation">Location:</label>
      <input type="text" id="employerLocation" [(ngModel)]="newEmployer.location" name="location" required>
    </div>
    <button type="submit">Add</button>
  </form>
