
<form (submit)="addJob()" class="job-add-form">
  <div class="form-field">
    <label for="jobEmployer">Employer:</label>
    <select id="jobEmployer" [(ngModel)]="newJob.employer" name="employer" required [disabled]="newJob.employer">
      <option value="">Select an employer</option>
      <option *ngFor="let employer of existingEmployers" [ngValue]="employer">{{ employer?.name }}</option>
    </select>
  </div>
  
  
    <div class="form-field">
      <label for="jobTitle">Title:</label>
      <input type="text" id="jobTitle" [(ngModel)]="newJob.title" name="title" required>
    </div>
    <div class="form-field">
      <label for="jobDescription">Description:</label>
      <textarea id="jobDescription" [(ngModel)]="newJob.description" name="description" required></textarea>
    </div>
    <div class="form-field">
      <label for="jobLocation">Location:</label>
      <input type="text" id="jobLocation" [(ngModel)]="newJob.location" name="location" required>
    </div>
    <div class="form-field">
      <label for="jobSalary">Salary:</label>
      <input type="number" id="jobSalary" [(ngModel)]="newJob.salary" name="salary" required>
    </div>
    <div class="form-field">
      <label for="jobRequirements">Requirements:</label>
      <textarea id="jobRequirements" [(ngModel)]="newJob.requirements" name="requirements" required></textarea>
    </div>
    <div class="form-field">
      <label for="jobType">Job Type:</label>
      <input type="text" id="jobType" [(ngModel)]="newJob.jobType" name="jobType" required>
    </div>
    <button type="submit">Add</button>
  </form>
