<div class="details">
    <p>JOB DETAILS PAGE</p>
  </div>
  <div class="jobdetail">
    <div *ngIf="job">
      <label>ID:</label>
      <input type="number" [(ngModel)]="job.id" disabled>
      <br>
      <label>Job Name:</label>
      <input [(ngModel)]="job.title">
      <br>
      <label>Description:</label>
      <input [(ngModel)]="job.description">
      <br>
      <label>Requirements:</label>
      <input [(ngModel)]="job.requirements">
      <br>
      <label>Employee ID:</label>
      <input [(ngModel)]="job.employer.name" disabled>
      <br>
      <label>Job Location:</label>
      <input [(ngModel)]="job.location">
      <br>
      <div class="button1">
        <button class="apply-button" (click)="applyForJob(job.id)">Apply</button>
      </div>
    </div>
  </div>
  <div *ngIf="showApplyForm && selectedJobId" class="job-details-container">
    <app-job-application *ngIf="job && job.id === selectedJobId" [jobId]="selectedJobId" [jobSeekerId]=" jobSeekerId"></app-job-application>
  </div>
