<p class="heading">FAQ</p>
<div class="faq">
  <div *ngFor="let faq of faqs; let i = index" class="faq-item">
    <input [id]="'faq-' + i" type="checkbox">
    <label [for]="'faq-' + i">
      <p class="faq-heading">{{ faq.question }}  <button (click)="deleteFAQ(faq.id)">Delete</button></p>
      <div class="faq-arrow"></div>
      <p class="faq-text">{{ faq.answer }}</p>
    </label>
    <div>
  
     
    </div>
  </div>

  <button (click)="showFaq()">Add FAQ</button>
  <div *ngIf="showfaq">
    <form (submit)="addFAQ()">
      <label for="newQuestion">Question:</label>
      <input type="text" id="newQuestion" name="newQuestion" [(ngModel)]="newFaq.question" required>

      <label for="newAnswer">Answer:</label>
      <textarea id="newAnswer" name="newAnswer" [(ngModel)]="newFaq.answer" required></textarea>

      <button type="submit">Add FAQ</button>
    </form>
  </div>
</div>

