@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.heading{
    margin-left: 350px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-indent: 20px;
    color: #333;
}
.faq-heading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-indent: 20px;
  color: #333;
  transition: text-indent 0.2s;
}

.faq-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #919191;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 30px;
}

.faq {
 
  width: 1000px;
margin-left: 350px;
  background: white;
  border-radius: 4px;
  position: fixed;
  border: 1px solid #e1e1e1;
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top: 1px;
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faq-arrow {
  transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255, 255, 255, 1) !important;
  color: #4f7351;
  height: 225px;
  transition: height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type="checkbox"]:not(:checked) + label {
  display: block;
  transition: height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 60px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, tahoma;
  list-style: none;
  /*    outline: 1px solid brown;*/
}

nav {
  height: 80px;
  background-color: transparent;
  /* border-bottom: 1px solid #000000 */
}
.logo {
  padding: 10px;
  width: auto;
  float: left;
}


.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 20px;
}

.list-item {
  float: right;
  margin-right: 25px;
  margin-top: 17px;
}
.list-item li {
  float: left;
  padding: 13px 13px;
  font-size: 18px;
  border-radius: 3px;
  transition: all .3s ;
}
.list-item li a {
  color: #EEE;
}
.list-item li:hover {
  background-color: rgba(0, 0, 0, 0.234);
}